<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.imooc.mapper.RecordMapper" >
  <resultMap id="BaseResultMap" type="com.imooc.pojo.Record" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="phone" property="phone" jdbcType="VARCHAR" />
    <result column="basewav" property="basewav" jdbcType="VARCHAR" />
    <result column="time" property="time" jdbcType="TIMESTAMP" />
    <result column="recordtime" property="recordtime" jdbcType="VARCHAR" />
  </resultMap>

  <select id="selecturl" resultType="String">

		select
			basewav
		from
			record
		where
			id = #{id}

	</select>

    <select id="selectsendrecord" resultType="com.imooc.pojo.vo.SendRecord" parameterType="String">
		select
		r.recordtime,r.time,send_phone,cron
		from record r
		 join scheduled s
		on r.phone = s.phone
		where s.phone='13516170970' group by r.time
	</select>
</mapper>