<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.imooc.mapper.ScheduledMapper" >
  <resultMap id="BaseResultMap" type="com.imooc.pojo.Scheduled" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="cron_id" property="cron_id" jdbcType="VARCHAR" />
    <result column="cron" property="cron" jdbcType="VARCHAR" />
    <result column="send_phone" property="send_phone" jdbcType="VARCHAR" />
    <result column="wav" property="wav" jdbcType="VARCHAR" />
    <result column="phone" property="phone" jdbcType="VARCHAR" />
    <result column="clazzname" property="clazzname" jdbcType="VARCHAR" />
<!--    <result column="name" property="name" jdbcType="VARCHAR" />-->
    <result column="groupname" property="groupname" jdbcType="VARCHAR" />
  </resultMap>
  <select id="getCron" parameterType="String" resultType="com.imooc.pojo.Scheduled">
   select cron_id, cron, send_phone, wav, phone, clazzname, groupname from scheduled where clazzname = #{clazzname}
  </select>
</mapper>